.contact-Container {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 800px;
}
.infoPicture {
  display: flex;
  width: 40%;
  margin: 20px auto;
}
.backButton {
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: 10px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
}
.buttonText {
  margin: auto;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  margin-right: 4px;
  color: #001833;
}
.backIcon {
  positon: absolute;
  margin: auto;
  color: #001833;
}
.contactInfoContainer {
  flex-direction: column;
  display: flex;
  height: 50%;
  width: 100%;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  border: transparent;
}
.contactInput {
  margin: auto;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.infoText {
  font-size: 70%;
  margin: auto;
  bottom: 5px;
}
.textInput {
  border: 0;
  border-bottom: 2px solid #bbbbbb;
  margin: auto;
  padding-right: 5px;
  font-weight: bold;
}
.editButton {
  height: 50px;
  width: 200px;
  cursor: pointer;
  margin: auto;
  margin-left: 10px;
  border-radius: 30px;
  background-color: #c1e3ed;
  opacity: 0.8;
}
.hideButton {
  height: 50px;
  width: 200px;
  margin: auto;
  border-radius: 30px;
  background-color: #c1e3ed;
  opacity: 0;
}
.row {
  display: flex;
  flex-direction: row;
}
.deleteIcon {
  transition: transform 200ms ease-in;
  transform: scale(0.6);
  cursor: pointer;
}
.deleteIcon:hover {
  transform: scale(1.1);
}

.errorMessageButton {
  background-color: #53d769;
  border-radius: 30px;
  width: 60px;
  height: 30px;
  margin-top: 20px;
}
.popUpContainer {
  width: 350px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #bbbbbb;
  border: 10px;
  padding: 20px;
  margin: auto;
  opacity: 0.8;
  border-radius: 15px;
}

.deleteBody {
  font-weight: bold;
}
.deleteButtonsContainer {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancelButton {
  margin: auto;
  padding: 15px;
  background-color: #89b0ae;
  padding-right: 30px;
  padding-left: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 1px;
  font-weight: bold;
}
.confirmButton {
  margin: auto;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #89b0ae;
  padding-right: 30px;
  padding-left: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 1px;
  font-weight: bold;
}
