
.pictureContainer{
    display: 'flex';
    position:absolute;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#555B6E;
    opacity:0.8;
  }
.infoPicture{
    display: 'flex';
    position:absolute;
    width:300px;
    height:300px;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
  .backButton{
    height:40px;
    display:flex;
    flex-direction: row;
    margin:10px;
    border-radius: 30px;
    cursor: pointer;
    margin-top:20px;
  }
  .buttonText{
    margin:auto;
    text-align: center;
    font-size: 22px;
    padding:5px;
    margin-right:4px;
    color:#001833;
  }
  .backIcon{
    positon:absolute;
    margin:auto;
    color:#001833;
  }
  .contactInfoContainer{
    justify-content:'center';
    align-items:'center';
    flex-direction: column;
    position:absolute;
    display:flex;
    height:50%;
    width:100%;
    margin:auto;
    bottom:0;
    left:0;
    right:0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity:0.8;
    background-color:#555B6E;
  }
  .contactInput{
    margin:auto;
    width:400px;
    height:30px;
    display:flex;
    flex-direction: row;
  }
  .infoText{
    text-align: center;
    font-size: 15px;
    margin:auto;
  }
  .textInput{
    width:200px;
    border-radius: 30px;
    border: 0.2px solid #555B6E;
    padding-left:10px;
    align-text:center;
    background-color:#555B6E;
    font-weight: bold;
  }
  .addEditButton{
    height:50px;
    width:200px;
    cursor: pointer;
    margin:auto;
    border-radius: 30px;
    background-color: #C1E3ED;
    opacity:0.8;
  }
  .hideButton{
    height:50px;
    width:200px;
    cursor: pointer;
    margin:auto;
    border-radius: 30px;
    background-color: #C1E3ED;
    opacity:0;

  }
  
  
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

