.search{
    height:100%;
    display: flex;
    width:50%;
    justify-content: flex-start;
}
.searchBar{
    background-color: #F0EFEF;
    border: 1px solid #000000;
    border-radius: 25px;
    width:220px;
    height:40px;
    margin: auto;
    /* align-items:center; */
    padding-left:15px;
  }
  .searchIcon{
    height:30px;
    width:30px;
    place-items:center;
    margin: auto;
    margin-right:60px;
    top:20px;
  }
  .addIconContainer {
    
    background-color:#000000;
    cursor: pointer;
    display: flex;
    margin: auto;
    border-radius: 60%;
  }
  .addIcon {
    transform: scale(1.8);
    color: #66aff5;
  }